#main1-container{
    backdrop-filter: blur(5px);
    border-radius: 20px;
    margin:20px;
    text-align: center;
}
#users-table{
    margin: 100px;
    margin-top: 20px;
    font-size: larger;
}
#users-table TableHead{
    font-size: large;
}
